body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  min-height: 80vh;
}

.ml-auto {
  margin-left: auto;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

.rating-numbers {
  margin-left: 0.5rem;
  margin-top: 4px;
}

.nav-link-mobile-spacing {
  display: flex !important;
  align-items: center !important;
  gap: 5px !important;
}
.rating svg {
  fill: #4a5454;
}

.product-detail-sideheading {
  font-weight: 700;
  color: #4a5454;
}

.dropdown-item:hover {
  background-color: var(--bs-secondary) !important;
}
.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: var(--bs-secondary) !important;
}

.form-control {
  background-color: #f1f1f1 !important;
}
